<div class="perfil-page">
    <div class="perfil-page--content"> 
        <div *ngIf="userDados" class="perfil-page--content--user">
            <h2> {{ userDados.nome }} </h2>

            <p> {{ userDados.email }} </p>

            <p> {{ userDados.tipoUsuario }} </p>

            <p *ngIf="orgDados"> 
                {{ orgDados.cpf }} 
            </p>
            
            <p *ngIf="modDados"> 
                {{ modDados.cpf }} 
            </p>
        </div>

        <div *ngIf="userDados?.tipoUsuario == getTipoUsuario.ORGANIZADOR" 
        class="perfil-page--content--eventos">
            <div class="perfil-page--content--eventos--header">
                <h2> Seus Eventos: </h2>

                <select name="status" [(ngModel)]="filtrosCurr.status">
                    <option [ngValue]="[]" selected> Status... </option> <!-- TODO: Fix selected -->
                    <option [ngValue]="[getStatusEvento.APROVADO]"> {{ statusEventoTexto(getStatusEvento.APROVADO) }} </option>
                    <option [ngValue]="[getStatusEvento.EMANALISE]"> {{ statusEventoTexto(getStatusEvento.EMANALISE) }} </option>
                    <option [ngValue]="[getStatusEvento.REPROVADO]"> {{ statusEventoTexto(getStatusEvento.REPROVADO) }} </option>
                </select>
            </div>

            <div *ngFor="let ev of eventos | eventosFilter : filtrosCurr"
            class="perfil-page--content--eventos--item">
                <app-evento-card [evento]="ev"
                class="perfil-page--content--eventos--item--card">
                </app-evento-card>

                <div class="perfil-page--content--eventos--item--controles">
                    <p class="perfil-page--content--eventos--item--controles--texto"> 
                        {{ statusEventoTexto(ev.status) }}
                    </p>

                    <button (click)="editarEvento(ev.id)" > Editar evento </button>
                    <button (click)="apagarEvento(ev.id)" > Apagar evento </button>
                </div>
            </div>
        </div>


        <div *ngIf="userDados?.tipoUsuario == getTipoUsuario.MODERADOR" 
        class="perfil-page--content--eventos">
            <div class="perfil-page--content--eventos--header">
                <h2> A Analisar </h2>
            </div>

            <div *ngFor="let ev of eventos | eventosFilter : filtrosEmAnalise"
            class="perfil-page--content--eventos--item">
                <app-evento-card [evento]="ev"
                class="perfil-page--content--eventos--item--card">
                </app-evento-card>

                <div class="perfil-page--content--eventos--item--controles">
                    <p class="perfil-page--content--eventos--item--controles--texto"> 
                        {{ statusEventoTexto(ev.status) }}
                    </p>

                    <button (click)="analisarEvento(ev.id)" > Analisar evento </button>
                </div>
            </div>

            <div class="perfil-page--content--eventos--header">
                <h2> Já Analisados </h2>
            </div>
            
            <div *ngFor="let ev of eventos | eventosFilter : filtrosJaAnalizados"
            class="perfil-page--content--eventos--item">
                <app-evento-card [evento]="ev"
                class="perfil-page--content--eventos--item--card">
                </app-evento-card>
                
                <div class="perfil-page--content--eventos--item--controles">
                    <p class="perfil-page--content--eventos--item--controles--texto"> {{ statusEventoTexto(ev.status) }} </p>
                </div>
            </div>
        </div>
    </div>
</div>
