<div class="perfil-page">
    <div class="perfil-page--content"> 
        <div *ngIf="userDados" class="perfil-page--content--user">
            <h2> {{ userDados.nome }} </h2>

            <p> {{ userDados.email }} </p>

            <p> {{ userDados.tipoUsuario }} </p>

            <p *ngIf="orgDados"> 
                {{ orgDados.cpf }} 
            </p>
            
            <p *ngIf="modDados"> 
                {{ modDados.cpf }} 
            </p>
        </div>

        <div *ngIf="eventos" class="perfil-page--content--eventos">
            <h2> Seus Eventos: </h2>

            <div *ngFor="let ev of eventos"
            class="perfil-page--content--eventos--item">
                <app-evento-card [evento]="ev"
                class="perfil-page--content--eventos--item--card">
                </app-evento-card>

                <div class="perfil-page--content--eventos--item--botoes">
                    <button (click)="editarEvento(ev.id)" > Editar evento </button>
                    <button (click)="apagarEvento(ev.id)" > Apagar evento </button>
                </div>
            </div>
        </div>
    </div>
</div>
d
