@import "../../../variables.scss";

.perfil-page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 75px;
    
    background-color: $cor-background;
    
    &--content {
        
        width: 60%;
        
        padding: $spacing-default;

        display: flex;
        flex-direction: row;
        justify-content: center;
        
        background-color: $cor-body;
    
        box-shadow: $shadow-default;
    }
}