<div class="evento-page">
    <div *ngIf="evento; else notfound" class="evento-page--content">  
        <div class="evento-page--content--left">
            <div class="evento-page--content--left--header">
                <div class="evento-page--content--left--header--left">
                    <h1>
                        {{ evento.nome }}
                    </h1>
                </div>
    
                <div class="evento-page--content--left--header--right">
                    <p class="text-align-right">
                        {{ evento.organizador ? evento.organizador.nome : '' }}
                    </p>
                    <p class="text-align-right">
                        {{ evento.categoria }}
                    </p>
                </div>
            </div>
            
            <div class="evento-page--content--left--body">
                <p>
                    {{ evento.descricao }}
                </p>
            </div>
    
            <div class="evento-page--content--left--body">
                <img src="images/joia.png" alt="imagem da silva" width="540" height="540">
            </div>
            
            <div *ngIf="evento && evento.contato" 
            class="evento-page--content--left--body">
                <a [href]="evento.contato">Mais informações</a>
            </div>

            <div *ngIf="evento.atualizacoes && evento.atualizacoes.length > 0"
            class="evento-page--content--left--body">
                <h3> ATUALIZAÇÕES: </h3>

                <div *ngFor="let att of evento.atualizacoes"
                class="evento-page--content--left--body--atualizacao">
                    <h5>
                        {{ att.titulo }}
                    </h5>
                    <p>
                        {{ att.texto }}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="evento-page--content--right">
            <div class="evento-page--content--right--content">
                <h3>
                    QUANDO?
                </h3>
    
                <p class="evento-page--content--right--content--text">
                    {{ evento.horarioInicio }}
                </p>
    
                <p class="evento-page--content--right--content--text">
                    {{ evento.horarioFim }}
                </p>
            </div>
    
            <div class="evento-page--content--right--content">
                <h3>
                    ONDE?
                </h3>
    
                <p class="evento-page--content--right--content--text">
                    {{ evento.endereco }}
                </p>
    
                <div class="evento-page--content--right--content--map">
                    {{ evento.enderecoLink }}
                </div>
            </div>
        </div>
    </div>

    <ng-template #notfound>
        <div class="evento-page--content">
            <!-- TODO: 404 -->
            <h1>404??</h1>
        </div>
    </ng-template>
</div>