<div class="agenda-semanal">
    <!-- Header -->
    <h4 *ngFor="let dd of dias; let di = index" class="agenda-semanal--datas"
    [style]="styleGridPlacement(1, di + gridColOffset)"> 
        {{ dd | date : "EEE dd" | uppercase  }} 
    </h4>
    
    <!-- Sidebar -->
    <h4 *ngFor="let hr of horarios; let hi = index" class="agenda-semanal--horarios"
    [style]="styleGridPlacement(hi + gridLinOffset, 1)"> 
        {{ hr | number : '2.0'  }}h 
    </h4>

    <!-- eventos -->
    <app-celula-agenda *ngFor="let cell of eventos | keyvalue" [eventos]="cell.value.eventos"
    [style]="styleGridPlacement(cell.value.xx, cell.value.yy)" class="agenda-semanal--celula-eventos"> 
    </app-celula-agenda>
</div>