<div class="agenda-semanal">
    <div class="agenda-semanal--grid">
        <!-- Header -->
        <div *ngFor="let dd of dias; let di = index" 
        (click)="navegarAgendaDiaria(dd)"
        class="agenda-semanal--grid--datas" [style]="styleGridPlacement(1, di + gridColOffset)"> 
            {{ dd | date : "EEE dd" | uppercase  }} 
    </div>
        
        <!-- Sidebar -->
        <div *ngFor="let hr of horarios; let hi = index" class="agenda-semanal--grid--horarios"
        [style]="styleGridPlacement(hi + gridLinOffset, 1)"> 
            {{ hr | number : '2.0'  }}h 
        </div>

        <!-- eventos -->
        <app-celula-agenda 
        *ngFor="let cell of eventos | keyvalue" 
        [eventos]="cell.value.eventos | eventosFilter : filtros" [maxSize]="3" [data]="cell.value.data"
        [style]="styleGridPlacement(cell.value.xx, cell.value.yy)" 
        class="agenda-semanal--grid--celula-eventos"> 
        </app-celula-agenda>
    </div>
</div>