@import "../../../variables.scss";

.notfound-page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: $spacing-triple;
    
    background-color: $cor-background;
    
    &--content {
        
        width: 60%;

        padding: $spacing-triple;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-color: $cor-body;
    
        box-shadow: $shadow-default;
    }
}