<div class="buscar-page">
    <div class="buscar-page--content">
        <div class="buscar-page--content--left">
            <div class="buscar-page--content--left--header">
                <h3> Mais Filtros </h3>
            </div>

            <div class="buscar-page--content--left--parameter">
                <label class="bold"> Categoria: </label>

                <select multiple>
                    <option *ngFor="let cc of buscarParams.categorias" [value]="cc"> {{ cc }} </option>
                </select>
            </div>
            
            <div class="buscar-page--content--left--parameter">
                <label class="bold"> Data: </label>
                
                <div class="buscar-page--content--left--parameter--input-content">
                    <input class="buscar-page--content--left--parameter--input-content--input"
                    type="text" placeholder="A partir">
                    
                    <input class="buscar-page--content--left--parameter--input-content--input"
                    type="text" placeholder="Até">
                </div>
            </div>
            
            <div class="buscar-page--content--left--parameter">
                <label class="bold"> Horário: </label>
                
                <div class="buscar-page--content--left--parameter--input-content">
                    <input class="buscar-page--content--left--parameter--input-content--input"
                    type="text" placeholder="A partir">
                    
                    <input class="buscar-page--content--left--parameter--input-content--input"
                    type="text" placeholder="Até">
                </div>
            </div>
            
            <div class="buscar-page--content--left--parameter">
                <label class="bold"> Região: </label>
                
                <select multiple>
                    <option *ngFor="let rr of buscarParams.regioes" [value]="rr"> {{ rr }} </option>
                </select>
            </div>
        </div>

        <div class="buscar-page--content--right">
            <div class="buscar-page--content--right--parameter">
                <input type="text">
                <button> Bbuscar </button>
            </div>

            <div class="buscar-page--content--right--results">
                <a *ngFor="let ev of eventos" href="http://localhost:4200/evento/{{ ev.id }}"
                class="buscar-page--content--right--results--evento">
                    <div class="buscar-page--content--right--results--evento--content">
                    
                        <div class="buscar-page--content--right--results--evento--content--left">
                            <h4 class="buscar-page--content--right--results--evento--content--left--header"> 
                                {{ ev.nome }} 
                            </h4>

                            <p class="buscar-page--content--right--results--evento--content--left--text"> 
                                {{ ev.categoria + ' <> ' + ev.organizador?.nome }} 
                            </p>
                        </div>
                        
                        <div class="buscar-page--content--right--results--evento--content--right">
                            <p class="buscar-page--content--right--results--evento--content--right--text text-align-right"> 
                                {{ ev.regiao }} 
                            </p>
                            
                            <p class="buscar-page--content--right--results--evento--content--right--text text-align-right"> 
                                {{ ev.horarioInicio }} 
                            </p>
                        </div>
                    </div>
                </a>    
            </div>
        </div>
    </div>
</div>