<form #dadosEdicao="ngForm" class="edicao-form">
    <h3> Editar este evento </h3>
    
    <div class="edicao-form--parameter">
        <label class="bold"> Descricao: </label>

        <textarea type="text" name="descricao" rows="3" [ngModel]="evento?.descricao"
        [class]="(dadosEdicao.value.descricao != evento?.descricao) ? 'changed' : ''"></textarea>
    </div>

    <div class="edicao-form--parameter">
        <label class="bold"> Link para contato: </label>

        <input type="text" name="contato" [ngModel]="evento?.contato"
        [class]="(dadosEdicao.value.contato != evento?.contato) ? 'changed' : ''">
    </div>

    <div class="edicao-form--parameter">
        <label class="bold"> Link para contato: </label>

        <input type="file" name="imagem" (change)="setImagem($event)"
        [class]="(currImagem) ? 'changed' : ''">
    </div>

    
    <div class="edicao-form--parameter">
        <label class="bold"> Início do evento: </label>

        <input type="datetime-local" name="horaIni" [ngModel]="evento?.horarioInicio"
        [class]="(dadosEdicao.value.horaIni != evento?.horarioInicio) ? 'changed' : ''">
    </div>
    
    <div class="edicao-form--parameter">
        <label class="bold"> Fim do evento: </label>

        <input type="datetime-local" name="horaFim" [ngModel]="evento?.horarioFim"
        [class]="(dadosEdicao.value.horaFim != evento?.horarioFim) ? 'changed' : ''">
    </div>

    <div class="edicao-form--parameter">
        <label class="bold"> Região: </label>

        <select name="regiao" [ngModel]="evento?.regiao"
        [class]="(dadosEdicao.value.regiao != evento?.regiao) ? 'changed' : ''">
            <option *ngFor="let rr of dropdowns.regioes" [value]="rr"> {{ rr }} </option>
        </select>
    </div>
    
    <div class="edicao-form--parameter">
        <label class="bold"> Endereco: </label>

        <input type="text" name="endereco" [ngModel]="evento?.endereco"
        [class]="(dadosEdicao.value.endereco != evento?.endereco) ? 'changed' : ''">
    </div>


    <div class="edicao-form--message-box">
        <div *ngIf="successMessage" class="edicao-form--message-box--message"> 
            <p class="edicao-form--message-box--message--text"> {{ successMessage }} </p>  
        </div>
        
        <div *ngIf="errorMessage" class="edicao-form--message-box--message__error"> 
            <p class="edicao-form--message-box--message__error--text"> {{ errorMessage }} </p>  
        </div>
    </div>

    <button (click)="editar(dadosEdicao)"> Enviar! </button>
</form>