@import "../../../variables.scss";

.footer {
    padding: 0 20vw;
    padding-bottom: 15px;
    padding-top: 60px;

    background-color: $cor-footer;

    &--text {

        margin-bottom: 0;
    }
}