<div class='app'>
    <div class='app--header'>
        <div class='app--header--logo'>
            <img src="/images/logo-mock.png" alt="QUAL A BOA" height="55px" class='no-filter'>
        </div>

        <div class='app--header--nav'>
            <a href="/home">Página principal</a>
            <a href="/agenda">Agenda de eventos</a>
            <a href="/buscar">Buscar um evento</a>
        </div>
        
        <div class='app--header--pesquisa'>
            <input type="text" placeholder="Pesquise um Evento"> 
            <button> Buscar </button>
        </div>
        
        <div class='app--header--user'>
            <button> Login </button>
        </div>
    </div>

    <div class='app--content'>
        <router-outlet />
    </div>

    <div class='app--footer'>
        <p class="color-light">Idealizado e Desenvolvido por: Lucca Bibar</p>
    </div>
</div>


