@import "../variables.scss";

.app {

    display: flex;
    flex-direction: column;

    &--header {

        padding: 15px 60px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:  center;

        background-color: $cor-header;
        box-shadow: $default-shadow;

        z-index: 1;
    }

    &--content {

        display: flex;
        flex-direction: column;

        flex-grow: 1;
        
        background-color: $cor-background;
        
        z-index: 0;
    }
    
    &--footer {

        padding: 0% 20%;
        padding-top: 15px;
        padding-top: 60px;

        background-color: $cor-footer;

        z-index: 0;
    }
}