<div class="evento-buscar-page">
    <div class="evento-buscar-page--content">
        <form #dadosBusca="ngForm" (ngSubmit)="buscar(dadosBusca)" 
        class="evento-buscar-page--content--left">
            <div class="evento-buscar-page--content--left--header">
                <h2> Buscar </h2>
            </div>
            
            <div class="evento-buscar-page--content--left--parameter">
                <label class="bold"> Busca por texto: </label>

                <input type="text" name="texto" ngModel>
            </div>

            <div class="evento-buscar-page--content--left--parameter">
                <button> Buscar </button>
            </div>

            <div class="evento-buscar-page--content--left--header">
                <h2> Mais Filtros </h2>
            </div>

            <div class="evento-buscar-page--content--left--parameter">
                <label class="bold"> Categoria: </label>

                <select name="categoria" ngModel>
                    <option [value]="">  </option>
                    <option *ngFor="let cc of buscarParams.categorias" [value]="cc"> {{ cc }} </option>
                </select>
            </div>
            
            <div class="evento-buscar-page--content--left--parameter">
                <label class="bold"> Data: </label>
                
                <div class="evento-buscar-page--content--left--parameter--input-content">
                    <input class="evento-buscar-page--content--left--parameter--input-content--input"
                    type="date" placeholder="A partir" name="diaLower" ngModel>
                    
                    <input class="evento-buscar-page--content--left--parameter--input-content--input"
                    type="date" placeholder="Até" name="diaUpper" ngModel>
                </div>
            </div>
            
            <div class="evento-buscar-page--content--left--parameter">
                <label class="bold"> Horário: </label>
                
                <div class="evento-buscar-page--content--left--parameter--input-content">
                    <input class="evento-buscar-page--content--left--parameter--input-content--input"
                    type="time" placeholder="A partir" name="horaLower" ngModel>
                    
                    <input class="evento-buscar-page--content--left--parameter--input-content--input"
                    type="time" placeholder="Até" name="horaUpper" ngModel>
                </div>
            </div>
            
            <div class="evento-buscar-page--content--left--parameter">
                <label class="bold"> Região: </label>
                
                <select name="regiao" ngModel>
                    <option [value]="">  </option>
                    <option *ngFor="let rr of buscarParams.regioes" [value]="rr"> {{ rr }} </option>
                </select>
            </div>
        </form>

        <div class="evento-buscar-page--content--right">
            <app-evento-card *ngFor="let ev of eventos" [evento]="ev"
            class="evento-buscar-page--content--right--evento">
            </app-evento-card>
        </div>
    </div>
</div>