@import "../../../variables.scss";

.evento-analisar-page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: $spacing-triple;
    
    background-color: $cor-background;
    
    &--content {
        
        width: 60%;
        
        padding: $spacing-default;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        background-color: $cor-body;
    
        box-shadow: $shadow-default;

        &--evento {

            display: flex;
            flex-direction: row;

            margin: 0 0 $spacing-double 0;

            & > * {

                margin: 0 $spacing-default 0 0;
            
                &:last-child {

                    margin-right: 0;
                }
            } 

            &--col {

                display: flex;
                flex-direction: column;
                max-width: 50%;

                & > * {

                    margin: 0 0 $spacing-default 0;
                
                    &:last-child {

                        margin-bottom: 0;
                    }
                } 

                &--group {

                    &--title {
        
                        font-family: $fonte-title;
                        color: $cor-primary-dark;
                        font-weight: bold;
                    }
        
                    // &--dados {
        
                    // }
                }
            }
        }

        &--controls {

            display: flex;
            flex-direction: column;
            justify-content: left;

            flex-shrink: 1;

            &--botoes {
    
                display: flex;
                flex-direction: row;
                
                justify-content: left;

                margin: 0 0 $spacing-half 0;
                
                & > * {
                    
                    min-width: 100px;
                    margin: 0 $spacing-half 0 0;
                    
                    &:last-child {
    
                        margin-right: 0;
                    }
                }
            }
    
            &--message-box {
    
                margin-bottom: $spacing-default;
    
                &:last-child {
    
                    margin-bottom: $spacing-default;
                }
    
                &--message__error,
                &--message {
            
                    margin-bottom: $spacing-half;
            
                    padding: 5px;
                    border-radius: $border-radius-default;
                    
                    background-color: $cor-secondary;
                    
                    transition: 0.2s;
            
                    &--text {
            
                        color:  $cor-texto-inv;
                        font-size: $fonte-size-small;
            
                        margin: 0;
                    }
                }
            
                &--message__error {
                        
                    background-color: $cor-error;
                }
            }
        }
    }
}