<div class='header'>
    <div class='header--logo'>
        <a [routerLink]="['/home']">
            <img src="/images/logo-mock.png" alt="Home Page" height="55px" class='no-filter'>
        </a>
    </div>

    <div class='header--nav'>
        <!-- <a [routerLink]="['/home']">Página principal</a> | -->
        <a [routerLink]="['/agenda']">Agenda de eventos</a> |
        <a [routerLink]="['/buscar']">Buscar um evento</a>
    </div>
    
    <div class='header--pesquisa'>
        <input type="text" placeholder="Pesquise um Evento" [(ngModel)]="textoBusca"> 
        <button (click)="buscar()"> Buscar </button>
    </div>
    
    <app-usuario-header class='header--usuario'>

    </app-usuario-header>
</div>