<div class='header'>
    <div class='header--logo'>
        <img src="/images/logo-mock.png" alt="QUAL A BOA" height="55px" class='no-filter'>
    </div>

    <div class='header--nav'>
        <a href="/home">Página principal</a>
        <a href="/agenda">Agenda de eventos</a>
        <a href="/buscar">Buscar um evento</a>
    </div>
    
    <div class='header--pesquisa'>
        <input type="text" placeholder="Pesquise um Evento"> 
        <button> Buscar </button>
    </div>
    
    <app-usuario-header class='header--usuario'>

    </app-usuario-header>
</div>