.evento-page {

    display: flex;
    flex-direction: column;

    &--content {

        display: flex;
        flex-direction: row;
        justify-content: center;
        
        &--left,
        &--right {
            
            display: flex;
            flex-direction: column;
        }

        &--left {

            width: 40%;

            background-color: aquamarine;

            &--header {

                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        
        &--right {
            
            width: 20%;

            background-color: olive;
        }
    }
}