<a *ngIf="evento; else notFound" [href]="eventoUrl" class="evento-card">
    <div class="evento-card--content">
    
        <div class="evento-card--content--left">
            <h4 class="evento-card--content--left--header"> 
                {{ evento.nome }} 
            </h4>

            <p class="evento-card--content--left--text"> 
                {{ evento.categoria + ' - ' + evento.organizador?.nome }} 
            </p>
        </div>
        
        <div class="evento-card--content--right">
            <p class="evento-card--content--right--text text-align-right"> 
                {{ evento.regiao }} 
            </p>
            
            <p class="evento-card--content--right--text text-align-right"> 
                {{ evento.horarioInicio }} 
            </p>
        </div>
    </div>
</a>

<ng-template #notFound> <div class="evento-card">
    <!-- TODO: 404 -->
    <h2> 404??? </h2> 
</div> </ng-template>