@import "variables.scss";

// definicoes

* {
    font-family: $fonte-body;
    color: $cor-texto;
}


h1, h2, h3,
h4, h5, h6 {

    margin-top: 0;
    
    font-family: $fonte-title;
    font-weight: 1000;
    color: $cor-primary;
}

p {
    margin-top: 0;

    font-family: $fonte-body;
    color: $cor-texto;
}

label {

    margin-top: 0;
    margin-bottom: 5px;
    
    font-family: $fonte-title;
    color: $cor-texto;
}

input,
select,
button,
textarea {
    padding: 5px;
    font-size: $fonte-size-small;
    
    &.changed {
        background-color: $cor-warning-light;
    }
}

.light {
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

.color-light {
    color: $cor-texto-inv;
}

.text-align-right {
    text-align: right;
}


// outros ajuestes

body {
    
    display: flex;
    flex-direction: column;
    
    margin: 0;
    
    min-height: 100vh;
    min-width: 100vw;
}

img.scale {
    object-fit: scale-down;
}

// filtro na imagem
img.no-filter { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
