// variaveis 

$cor-primary: #d63a4a;
$cor-primary-dark: #d63a4a;
$cor-primary-light: #ff6300;

$cor-secondary: #195a7b;
$cor-secondary-dark: #5200ff;
$cor-secondary-light: #428c6b;

$cor-warning: #F8F858;
$cor-warning-dark: #F8D000;
$cor-warning-light: #F8F8A8;

$cor-error: $cor-primary;

$cor-background: #428c6b;
$cor-body: #fff1e8;
$cor-header: #ce8ce6;
$cor-footer: #4a315a;

$cor-texto: #4a315a;
$cor-texto-inv: #fff1e8;

$cor-shadow: #4a315a;

// $fonte-body: Arial, Helvetica, sans-serif;
// $fonte-title: Georgia, 'Times New Roman', Times, serif;

$fonte-body: "Fira Sans", sans-serif;
$fonte-title: "Zilla Slab", serif;;

$fonte-size-bigger: 20pt;
$fonte-size-big: 16pt;
$fonte-size-default: 12pt;
$fonte-size-small: 10pt;
$fonte-size-tiny: 8pt;


$shadow-default: 0px 0px 10px -5px $cor-shadow;

$border-radius-default: 5px;

$spacing-default: 20px;
$spacing-half: 10px;