// variaveis 

$cor-primary: #d3d;
$cor-primary-dark: #919;
$cor-primary-light: #e9e;

$cor-secondary: #3dd;
$cor-secondary-dark: #199;
$cor-secondary-light: #9ee;

$cor-background: #ddc;
$cor-body: #ffe;
$cor-header: #ffe;
$cor-footer: #222;

$cor-texto: #222;
$cor-texto-inv: #eee;

$cor-shadow: #2228;

// $fonte-body: Arial, Helvetica, sans-serif;
// $fonte-title: Georgia, 'Times New Roman', Times, serif;

$fonte-body: "Fira Sans", sans-serif;
$fonte-title: "Zilla Slab", serif;;

$default-shadow: 0px 0px 10px -5px $cor-shadow;