@import "../../../variables.scss";


.agenda-page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 75px;
    
    background-color: $cor-background;
    
    &--content {
        
        width: 60%;

        // espacamento
        padding: $spacing-default;
        & > * {
            margin: 0;
        }
        
        display: flex;
        flex-direction: column;
        // align-items: center;
        
        background-color: $cor-body;
    
        box-shadow: $shadow-default;
    }
}